
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2> THÔNG TIN CHI TIẾT VỀ CỬA HÀNG </h2>
<div>
    <div style="width:40%; float:left; border-left:dotted 1px; border-color:azure">
        <img src="~/Images/HV6.png" width="100%" />
    </div>
    <div style="width:60%; float:left; padding:10px">
        <h4 style="font-weight:bold; color:red"> CỬA HÀNG BÁN QUÀ LƯU NIỆM XIN CHÀO QUÝ KHÁCH! </h4>
        <p style="text-align:justify"><span style="font-weight:bold">- Mặt hàng kinh doanh: Kinh doanh các vật phẩm quà lưu niệm</span></p>
        
    </div>
</div>
