@model WebBanQuaLuuNiem.Models.ChatLieu

@{
    ViewBag.Title = "XoaCD";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN CHỦ ĐỀ CẦN XÓA</h2>

<h3>Bạn có muốn xóa chủ đề này không??</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên chất liệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChatLieu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "ChuDe")
        </div>
    }
</div>
